<div class="row">
  <div class="col-xs-12">
    <p appBasicHightLight>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <input 
      type="text" 
      class="form-control"
      #serverNameInput> <!-- local references-->

    <!-- <label appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Server Content</label> -->
    <label [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <input 
      type="text" 
      class="form-control" 
      #servercontentInput>

    <br>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>