<!-- <div style="text-align:center">
  <app-gamecontrol
    (gameStarted)="onStartGame($event)">
  </app-gamecontrol>

  <div *ngFor ="let index of indexs">
  <div *ngIf="index%2 == 0">
    <app-even [evenNumber] = "index"></app-even>
  </div>

  <div *ngIf="index%2 != 0">
    <app-odd [oddNumber] = "index"></app-odd>
  </div>
  </div>

</div> -->


  <div style="text-align:center">
  <app-gamecontrol (gameStarted)="onStartGame($event)">
  </app-gamecontrol>
  
  <div *ngFor="let evenNum of evenNumbers">
    <div>
        <app-even [evenNumber]="evenNum"></app-even>
    </div>
  </div>

  <div *ngFor="let oddNum of oddNumbers">
    <div>
        <app-odd [oddNumber]="oddNum"></app-odd>
    </div>    
  </div>
</div>
