<div class="container">
<app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"> <!-- custom event binding-->
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="onClick()">change the server Name</button>
      <button type="button" class="btn btn-danger" (click)="onDestroyFirst()">cleanup</button>
      <app-server-element *ngFor="let serverElement of serverElements" 
         [srvElement]="serverElement"
         [name]="serverElement.name">
          <p #contentParagraph>
              <strong *ngIf="serverElement.type === 'server'" style="color: red">
                  {{ serverElement.content }}</strong>
              <em *ngIf="serverElement.type === 'blueprint'">
                {{ serverElement.content }}</em>
          </p>
      </app-server-element>
       <!-- component's custom property binding using alias.-->
    </div>
  </div>
</div>
